body {
	padding: 54px 52px;
}
header {
	margin-bottom: 44px;
}
img {
	vertical-align: middle;
}
.banner4 {
	margin-left: 88px;
	margin-top: 50px;

}
nav {
    display: inline-block;
	vertical-align: middle;
}
ul {
	display: inline-block;
}
li {
	display: inline-block;
	margin-left: 60px;
}
a {
	font-size: 26px;
	font-weight: 700;
	color: #8D81FF;
}
.active {
	color: #4E6FAE;
}
.section-image-1 {
    width: 1052px;
    margin: 85px 194px 120px 194px;
}

.line2 {
    width: 2px;
    height: 24px;
    background-color: #5012D5;
    display: inline-block;
    vertical-align: -5px;
    margin-left: 10px;
}

.span-news {
    font-weight: 700;
    font-size: 26px;
    line-height: 31.2px;
    color: #4E6FAE;
    text-align: left;
    margin-left: 88px;
}

.span-moreinformation {
    font-weight: 400;
    font-size: 26px;
    line-height: 31.2px;
    color: #4E6FAE;
    margin-left: 17px;
}


.container {
    width: 500px;
    height: 192px;
    display: inline-block;
    background-color: #E7E7E7;
    box-sizing: unset;
    margin-left: 88px;
    margin-top: 26px;

}

.container h3 {
    font-style: Helvetica Neue LT GEO;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.14px;
    color: #3F4145;
    margin: 21px 0px 29px 23px;
}

.container p {
    font-style: Helvetica Neue LT GEO;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.31px;
    color: #7E8898;
    display: inline-block;
    width: 335px;
    vertical-align: top;
}

.container img {
    width: 77px;
    height: 77px;
    margin: 0px 37px 31px 36px;
}

#container2 {
	margin-left: 48px;

}


.line1 {
    width: 2px;
    height:48px;
    background-color: #5012D5;
    display: inline-block;
    margin-top:  50px;
    margin-left: 41px;
    margin-right: 41px;
}
.line {
	display: inline-block;
	border: 2px solid #5012D5;
	height: 45px;
	vertical-align: middle;
    margin: 0 41px;
}
footer {
	margin-top: 50px;
	margin-left: 88px;
}
* {
	text-decoration:none ;
}
.infospan {
	margin top: 20px;
}
* {
	text-decoration:none ;
}
